# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Lint

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: lint-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  xml-lint:
    runs-on: ubuntu-22.04
    name: info.xml lint

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Download xml appinfo schema
        run: wget https://raw.githubusercontent.com/nextcloud/appstore/master/nextcloudappstore/api/v1/release/info.xsd

      - name: Lint appinfo/info.xml
        uses: ChristophWurst/xmllint-action@7c54ff113fc0f6d4588a15cb4dfe31b6ecca5212 # v1.2.1
        with:
          xml-file: ./appinfo/info.xml
          xml-schema-file: ./info.xsd

  php-lint:
    runs-on: ubuntu-22.04
    name: php-lint
    strategy:
      matrix:
        php-versions: ["8.1"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Lint
        run: composer run lint

  php-cs:
    runs-on: ubuntu-22.04
    name: php-cs
    strategy:
      matrix:
        php-versions: ["8.1"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Install dependencies
        run: composer i

      - name: Lint
        run: composer run cs:check || ( echo 'Please run `composer run cs:fix` to format your code' && exit 1 )

  php-psalm-analysis:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php-versions: ["8.1"]
    name: php-psalm-analysis

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Install dependencies
        run: composer i

      - name: Run coding standards check
        run: composer run psalm

  js-eslint:
    runs-on: ubuntu-22.04
    name: eslint

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install dependencies
        run: npm ci

      - name: ESLint
        run: npm run lint

  stylelint:
    runs-on: ubuntu-22.04

    name: stylelint

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run stylelint

  lint-success:
    permissions:
      contents: none
    runs-on: ubuntu-22.04
    needs: [xml-lint, php-lint, php-cs, php-psalm-analysis, js-eslint, stylelint]
    name: Lint-OK
    steps:
      - run: echo "Lint passed successfully"
