# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Node Build

on:
  pull_request:
    paths:
      - src/**
      - .eslintrc.js
      - stylelint.config.js
      - webpack.js
  push:
    branches:
      - main
    paths:
      - src/**
      - .eslintrc.js
      - stylelint.config.js
      - webpack.js

permissions:
  contents: read

jobs:
  build:
    name: node-build
    runs-on: ubuntu-latest

    steps:
      - name: Set app env
        run: echo "APP_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: ${{ env.APP_NAME }}

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@8205673bab74a63eb9b8093402fd9e0e018663a1 # v2.2
        id: versions
        with:
          path: ${{ env.APP_NAME }}
          fallbackNode: "^20"
          fallbackNpm: "^9"

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v3
        with:
          persist-credentials: false
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g npm@"${{ steps.versions.outputs.npmVersion }}"

      - name: Build ${{ env.APP_NAME }}
        run: |
          cd ${{ env.APP_NAME }}
          npm ci
          npm run build
